*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px;

}

nav ul{
    display: flex;
    align-items: center;
    


}

nav ul li{
    list-style: none;
    margin-right: 30px;
}

nav ul a{
    text-decoration: none;
}

nav ul button{
    background-color: chocolate;
    padding: 10px;
}